.switch-container {
  display: flex;
  gap: 0.225rem;
  align-items: center;
}
.task-switch {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: gray;
  position: relative;
  cursor: pointer;
  transition: "background 0.3s";
}

.task-switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  top: 1px;
  left: 1px;
  transition: left 0.3s;
}

.task-switch.on {
  background: cornflowerblue;
}

.task-switch.on::after {
  left: 21px;
}
