.table-div {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  min-height: 50dvh;
  align-items: center;
}

.divider {
  height: 1px;
  background-color: lightgrey;
}

.table-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 3rem 0;
}

.table-header {
  display: flex;
  flex-direction: column;
}

.table-header-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: bold;
  padding: 0.25rem 0;
}

.table-header-select-all {
  display: flex;
  justify-content: center;
  width: 2.5%;
}

.table-header-name {
  display: flex;
  width: 60%;
}

.table-header-name button {
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  border: none;
  padding: 0;
}

.table-header-updated {
  display: flex;
  width: 26%;
  cursor: pointer;
}

.table-header-updated button {
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  border: none;
  padding: 0;
}

.table-header-actions {
  display: flex;
  gap: 1rem;
  width: 11.5%;
}
.table-header-actions div {
  display: flex;
  cursor: pointer;
}

.table-row-container {
  display: flex;
  flex-direction: column;
  min-height: 25rem;
}

.table-row {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  gap: 1rem;
}

.table-row-select {
  display: flex;
  justify-content: center;
  width: 2.5%;
}

.table-row-name {
  display: flex;
  width: 60%;
}

.table-row-updated {
  display: flex;
  width: 26%;
}

.table-row-actions {
  display: flex;
  gap: 1rem;
  width: 11.5%;
}

.table-row-actions div {
  display: flex;
  cursor: pointer;
}

.table-footer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.table-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.table-footer button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  padding: 0.25rem;
  margin: 0 0.375rem;
}

.table-footer button:hover {
  font-weight: bold;
}

.table-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.table-form-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}

.table-form-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.25rem;
}

.table-form-body-name {
  display: flex;
  flex-direction: column;
}

.table-form-body-name-input {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  height: 1.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: Courier;
}

.table-form-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.table-form-footer-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.25rem 0.25rem;
}

.table-form-footer-left {
  display: flex;
  gap: 1rem;
}

.table-form-footer-left button {
  background: transparent;
  color: var(--text-color);
  font-weight: bold;
  padding: 0.25rem;
}

.table-form-footer-submit,
.table-form-footer-submit:hover {
  border: 1px solid cornflowerblue;
}

.table-form-footer-cancel,
.table-form-footer-cancel:hover {
  border: 1px solid red;
}

.table-form-footer-right {
  display: flex;
  gap: 1rem;
}

.table-form-footer-right div {
  display: flex;
  cursor: pointer;
}

.delete-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.delete-form-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}

.delete-form-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.25rem;
}

.delete-form-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.delete-form-footer-actions {
  display: flex;
  gap: 1rem;
  padding: 0.25rem 0.25rem;
}

.delete-form-footer-actions button {
  background: transparent;
  color: var(--text-color);
  font-weight: bold;
  padding: 0.25rem;
}

.delete-form-footer-submit,
.delete-form-footer-submit:hover {
  border: 1px solid cornflowerblue;
}

.delete-form-footer-cancel,
.delete-form-footer-cancel:hover {
  border: 1px solid red;
}
